# compiled output
/backend/dist
/frontend/dist
/backend/node_modules
/frontend/node_modules
/backend/.env
/frontend/.env.local

# next.js
frontend/.next/
frontend/out/

# dependencies
frontend/.pnp
frontend/.pnp.js

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
.DS_Store

# Tests
backend/coverage
frontend/coverage
/.nyc_output

# production
frontend/build

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
