.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loginBlock {
  width: 400px;
  box-shadow: 0 5px 28px -5px rgba(34, 60, 80, 0.23);
  border-radius: 8px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}