.lineWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lineLabel {
  font-size: 18px;
  font-weight: 700;
}

.lineData {
  font-size: 18px;
  font-weight: 400;
}